
@{
    ViewData["Title"] = "Về chúng tôi";
}

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Về chúng tôi
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start feature Area -->
<section class="feature-area pb-120">
</section>
<!-- End feature Area -->
<!-- Start info Area -->
<section class="info-area pb-60">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 no-padding info-area-left">
                <img class="img-fluid" src="img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 info-area-right">
                <h3>Trung tâm Ngôn ngữ và Hỗ trợ trao đổi học thuật (CLA)</h3>
                <p>Tháng 10/2018, trường Đại học Bách Khoa Hà Nội đã ra quyết định thành lập Trung tâm Ngôn ngữ và Hỗ trợ trao đổi học thuật (CLA) trên cơ sở sáp nhập các đơn vị: Trung tâm Ngoại ngữ (CFL), Trung tâm tiếng Pháp (CFC), Trung tâm Hợp tác KHKT Việt – Đức (VDZ), Trung tâm Thông tin Năng lượng nguyên tử (ICONE).</p>
                <p>Từ khi thành lập đến nay, Trung tâm luôn là đơn vị đào tạo Ngoại ngữ và tổ chức khảo thí quốc tế chất lượng và uy tín. Mỗi năm, có gần 10.000 lượt học viên đã tham dự các khóa học ngoại ngữ: tiếng Anh, Pháp, Đức, Hàn, Nhật và gần 10.000 lượt thí sinh dự thi các chứng chỉ tiếng Anh (IELTS, Aptis, TOEIC, PTE), tiếng Đức (TestAS, TestDaF), tiếng Hàn (OPic) theo chuẩn quốc quốc tế.</p>
                <p>Đơn vị tự hào là một trong những trung tâm ngoại ngữ được yêu thích, là địa chỉ tin cậy của các bạn SV Bách Khoa, Kinh tế, Xây dựng, Ngân hàng… và nhiều người đi làm trên khắp địa bàn Hà Nội.</p>
                <p>Trung tâm đã vinh dự được Bộ Giáo dục & Đào tạo trao tặng danh hiệu Tập thể xuất sắc năm học 2018-2019.</p>
            </div>
        </div>
    </div>
</section>
<!-- End info Area -->
<!-- Start course-mission Area -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">Đại học Bách khoa Hà Nội</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/img/dai-hoc-bach-khoa-ha-noi.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20 left-align-p">
                    <p>
                        Trường Đại học Bách Khoa Hà Nội được thành lập vào năm 1956 và là trường đại học kỹ thuật đầu tiên của cả nước. Với gần 60 năm xây dựng và trưởng thành, Trường đã được Đảng và Nhà nước trao tặng nhiều huân, huy chương cao quý và được phong tặng danh hiệu Anh hùng trong thời kì đổi mới của đất nước.
                        Trường hiện có 23 viện, 3 khoa và 15 trung tâm với khoảng 2500 cán bộ và 40000 sinh viên. Trong hơn 50 năm qua, trường ĐHBKHN đã không ngừng phát triển và đóng góp to lớn vào sự nghiệp công nghiệp hóa, hiện đại hóa đất nước bằng việc đào tạo hàng ngàn kỹ sư, thạc sỹ, tiến sỹ và những nhà nghiên cứu đang hoạt động trong nhiều lĩnh vực trên khắp mọi miền của tổ quốc và ngoài lãnh thổ Việt Nam.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right">
            <h3 class="mb-30">Mục tiêu và Chức năng Trung tâm Ngôn ngữ và Trao đổi học thuật</h3>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">
                        Xây dựng Trung tâm Ngoại ngữ trở thành đơn vị tổ chức, quản lý công tác đào tạo ngoại ngữ ngoài chương trình chính khóa cho sinh viên ĐHBK HN và có khả năng tổ chức thi, cấp chứng chỉ công nhận nội bộ và chứng chỉ quốc tế.
                    </p>
                    <p class="text-right">
                        Trung tâm Ngoại ngữ có chức năng xây dựng, tổ chức và quản lý các chương trình đào tạo ngoại ngữ, tổ chức thi cấp chứng chỉ công nhận nội bộ và chứng chỉ ngoại ngữ quốc tế.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="~/img/quang-truong-c1-dai-hoc-bach-khoa-hanoi.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End course-mission Area -->
<!-- Start search-course Area -->
<section class="search-course-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6 search-course-left">
                <h1 class="text-white">
                    Nhận tư vấn từ trung tâm<br>
                    về khóa học của bạn!
                </h1>
                <p>
                    Mỗi năm, có hàng nghìn lượt học viên đã tham dự các khóa học tiếng Anh, Pháp, Đức, Hàn, Nhật. Chúng tôi tự hào
                    là một trong những trung tâm ngoại ngữ được yêu thích, là địa chỉ tin cậy của các bạn SV Bách Khoa, Kinh tế, Xây
                    dựng, Ngân hàng... và nhiều người đi làm trên địa bàn Hà Nội.
                </p>
                <div class="row details-content">
                    <div class="col single-detials">
                        <span class="lnr lnr-graduation-hat"></span>
                        <a href="#">
                            <h4>Đội ngũ giáo viên</h4>
                        </a>
                        <p>
                            Đội ngũ giáo viên từ các trường đại học hàng đầu khu vực. Được đào tạo bài bản và có đầy đủ các chứng chỉ về
                            chuyên ngành cũng như giảng dạy.
                        </p>
                    </div>
                    <div class="col single-detials">
                        <span class="lnr lnr-license"></span>
                        <a href="#">
                            <h4>Chứng chỉ</h4>
                        </a>
                        <p>
                            Luyện thi các chứng chỉ nội bộ và chứng chỉ quốc tế.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 search-course-right section-gap">
                <form class="form-wrap" action="#">
                    <h4 class="text-white pb-20 text-center mb-30">Đăng ký nhận tư vấn</h4>
                    <input type="text" class="form-control" name="name" placeholder="Họ và tên"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ và tên'">
                    <input type="text" class="form-control" name="phone" placeholder="Số điện thoại"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại'">
                    <input type="email" class="form-control" name="email" placeholder="Email"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                    <div class="form-select" id="service-select">
                        <select>
                            <option datd-display="">Bạn muốn tư vấn về</option>
                            <option value="1">Các khóa học của trung tâm</option>
                            <option value="2">Thi quốc tế</option>
                            <option value="3">Thi nội bộ</option>
                            <option value="4">Khác</option>
                        </select>
                    </div>
                    <button class="primary-btn text-uppercase">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End search-course Area -->
<!-- Start review Area -->
<section class="review-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Dương Tuấn Minh</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Ngô Minh Hào</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Bùi Đình Lực</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Nguyễn Hoàng Hải</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Cristiano Messi</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Nguyễn Quang Hải</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <img src="img/r1.png" alt="">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Khánh Trình Lê</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Phùng Thanh Hải</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End review Area -->
<!-- Start gallery Area -->
<section class="gallery-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <a href="img/gallery/g1.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g1.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-5">
                <a href="img/gallery/g2.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g2.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="img/gallery/g3.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g3.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="img/gallery/g4.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g4.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="img/gallery/g5.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g5.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-5">
                <a href="img/gallery/g6.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g6.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-7">
                <a href="img/gallery/g7.jpg" class="img-gal">
                    <div class="single-imgs relative">
                        <div class="overlay overlay-bg"></div>
                        <div class="relative">
                            <img class="img-fluid" src="img/gallery/g7.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End gallery Area -->
