<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>@ViewData["Title"] - CLA</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="cfl">
        <header id="header">
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="/">
                            <img src="https://cfl.edu.vn/xmedia/2020/04/cla-title-2020a-400x47.png" alt=""
                                 title="" />
                        </a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li><a href="/about">Giới thiệu</a></li>
                            <li><a href="/about">Khảo thí</a></li>
                            <li><a href="courses.html">Khóa học</a></li>
                            <li><a href="events.html">Sự kiện</a></li>
                            <li class="menu-has-children">
                                <a href="">Blog</a>
                                <ul>
                                    <li><a href="blog-home.html">Blog Home</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="events.html">Tin tức</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                        </ul>
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </header><!-- #header -->
        @RenderBody()
        <!-- start footer Area -->
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>CLA - Đại học Bách khoa HN</h4>
                            <ul>
                                <li>Email: <a href="mailto:cla@hust.edu.vn">cla@cfl.edu.vn</a></li>
                                <li>
                                    Fanpage: <a title="Fanpage CFL" href="https://fb.com/cfl.edu.vn" target="_blank"
                                                rel="nofollow noopener noreferrer">fb.com/cfl.edu.vn</a>
                                </li>
                                <li>
                                    Tel: <a title="Center for Foreign Languages - CFL" href="tel:+842438682445">+8424.3868.2445</a>, <a title="Center for Foreign Languages - CFL" href="tel:+842436231425">3623.1425</a>
                                </li>
                                <li>
                                    Add: <a href="https://cfl.edu.vn/gioi-thieu/so-do-chi-dan/">C3B Building</a>, No 01
                                    Dai Co Viet St,<br />
                                    Hai Ba Trung Dist, Hanoi, Vietnam
                                </li>
                                <li>
                                    Hosted by <a href="http://www.hust.edu.vn/" target="_blank" rel="nofollow noopener noreferrer">HUST</a>
                                    &#8211; Hanoi &#8211; Vietnam
                                </li>
                                <li>
                                    <a title="Tải phần mềm gõ tiếng Việt Unikey mới nhất" href="http://unikey.vn/">
                                        Tải
                                        Unikey
                                    </a> và gõ tiếng Việt với <a title="Tải phần mềm gõ tiếng Việt Unikey mới nhất"
                                                                 href="http://unikey.vn">Unikey</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Các khóa - Lớp luyện thi</h4>
                            <ul>
                                <li>
                                    <a href="https://cfl.edu.vn/khoa-luyen-thi-aptis-b1-cap-toc/">
                                        Luyện thi <strong>Aptis B1</strong> cấp
                                        tốc
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cfl.edu.vn/khoa-luyen-thi-aptis-b1-tang-cuong/">
                                        Luyện thi <strong>Aptis B1</strong>
                                        tăng cường
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cfl.edu.vn/khoa-luyen-thi-aptis-b2/">Luyện thi <strong>Aptis B2</strong> (CEFR)</a>
                                </li>
                                <li><a href="https://cfl.edu.vn/tag/blended-learning/">Khóa <strong>Blended Learning</strong></a></li>
                                <li><a href="https://cfl.edu.vn/luyen-thi/toeic-350/">Khóa luyện thi TOEIC 350+</a></li>
                                <li><a href="https://cfl.edu.vn/luyen-thi/toeic-400/">Khóa luyện thi TOEIC 400+</a></li>
                                <li><a href="https://cfl.edu.vn/luyen-thi/toeic-450-500/">Khóa luyện thi TOEIC 500+</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Thông tin khác</h4>
                            <ul>
                                <li><a href="https://cfl.edu.vn/tag/thong-bao-thi-toeic-quoc-te/">Thông báo thi TOEIC (IIG)</a></li>
                                <li><a href="https://cfl.edu.vn/tag/thong-bao-thi-aptis/">Thông báo thi Aptis (BC)</a></li>
                                <li><a href="https://cfl.edu.vn/tag/thong-bao-thi-tieng-anh-noi-bo/">Thông báo thi Nội bộ trường</a></li>
                                <li>
                                    <a href="https://cfl.edu.vn/tag/du-an-nhat/" target="_blank" rel="noopener noreferrer">
                                        Khóa học tiếng
                                        Nhật
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cfl.edu.vn/tag/hoc-tieng-han/" target="_blank" rel="noopener noreferrer">
                                        Khóa học tiếng
                                        Hàn
                                    </a>
                                </li>
                                <li><a href="http://vdz.edu.vn/" target="_blank" rel="noopener noreferrer">Khóa học tiếng Đức</a></li>
                                <li><a href="http://cfc-fr.vn/" target="_blank" rel="noopener noreferrer">Khóa học tiếng Pháp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom row align-items-center justify-content-between">
                    <p class="footer-text m-0 col-lg-6 col-md-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                      aria-hidden="true"></i> by <a href="https://www.facebook.com/wicombk"
                                                                                                                    target="_blank">WicomLab</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="col-lg-6 col-sm-12 footer-social">
                        <a href="https://www.facebook.com/cfl.edu.vn"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.tabs.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
