@{
    ViewData["Title"] = "Trung tâm ngôn ngữ và trao đổi học thuật-Đại học Bách khoa Hà Nội";
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="banner-content col-lg-9 col-md-12">
                <h1 class="text-uppercase">
                    Chúng tôi cung cấp nền giáo dục tốt hơn cho một thế giới tốt hơn!
                </h1>
                <p class="pt-10 pb-10" style="color: white;">
                    Cung cấp những dịch vụ giáo dục hàng đầu là nhiệm vụ và vinh dự của chúng tôi.
                </p>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start feature Area -->
<section class="feature-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-feature">
                    <div class="title">
                        <h4>Các khóa học chất lượng</h4>
                    </div>
                    <div class="desc-wrap">
                        <p>
                            Các khóa học được thiết kế và xây dựng theo chương trình chuẩn, và bằng sự tâm huyết của các giáo viên.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <div class="title">
                        <h4>Đội ngũ giảng viên chất lượng</h4>
                    </div>
                    <div class="desc-wrap">
                        <p>
                            Đội ngũ giáo viên tốt nghiệp từ các trường đại học hàng đầu về ngôn ngữ ở trong và ngoài nước.
                            Được công nhận bởi các chứng chỉ quốc tế.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <div class="title">
                        <h4>Thư viện học liệu đầy đủ</h4>
                    </div>
                    <div class="desc-wrap">
                        <p>
                            Với một thư viện lớn, đầy đủ và chất lượng, học viên ở trung tâm sẽ được sử dụng miễn phí.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- Start popular-course Area -->
<section class="popular-course-area section-gap" style="padding-top: 50px;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Các khóa học nổi bật</h1>
                    <p>Các khóa học được nhiều học viên lựa chọn.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p1.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn Designing
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p2.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn React js beginners
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn Photography
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn Surveying
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p1.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn Designing
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p2.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn React js beginners
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn Photography
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Learn Surveying
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular
                            fictional characte
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End popular-course Area -->
<!-- Start search-course Area -->
<section class="search-course-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6 search-course-left">
                <h1 class="text-white">
                    Nhận tư vấn từ trung tâm<br>
                    về khóa học của bạn!
                </h1>
                <p>
                    Mỗi năm, có hàng nghìn lượt học viên đã tham dự các khóa học tiếng Anh, Pháp, Đức, Hàn, Nhật. Chúng tôi tự hào
                    là một trong những trung tâm ngoại ngữ được yêu thích, là địa chỉ tin cậy của các bạn SV Bách Khoa, Kinh tế, Xây
                    dựng, Ngân hàng... và nhiều người đi làm trên địa bàn Hà Nội.
                </p>
                <div class="row details-content">
                    <div class="col single-detials">
                        <span class="lnr lnr-graduation-hat"></span>
                        <a href="#">
                            <h4>Đội ngũ giáo viên</h4>
                        </a>
                        <p>
                            Đội ngũ giáo viên từ các trường đại học hàng đầu khu vực. Được đào tạo bài bản và có đầy đủ các chứng chỉ về
                            chuyên ngành cũng như giảng dạy.
                        </p>
                    </div>
                    <div class="col single-detials">
                        <span class="lnr lnr-license"></span>
                        <a href="#">
                            <h4>Chứng chỉ</h4>
                        </a>
                        <p>
                            Luyện thi các chứng chỉ nội bộ và chứng chỉ quốc tế.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 search-course-right section-gap">
                <form class="form-wrap" action="#">
                    <h4 class="text-white pb-20 text-center mb-30">Đăng ký nhận tư vấn</h4>
                    <input type="text" class="form-control" name="name" placeholder="Họ và tên"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ và tên'">
                    <input type="tel" class="form-control" name="phone" placeholder="Số điện thoại"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại'">
                    <input type="email" class="form-control" name="email" placeholder="Email"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                    <div class="form-select" id="service-select">
                        <select>
                            <option datd-display="">Bạn muốn tư vấn về</option>
                            <option value="1">Các khóa học của trung tâm</option>
                            <option value="2">Thi quốc tế</option>
                            <option value="3">Thi nội bộ</option>
                            <option value="4">Khác</option>
                        </select>
                    </div>
                    <button class="primary-btn text-uppercase">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End search-course Area -->
<!-- Start upcoming-event Area -->
<section class="upcoming-event-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Những sự kiện sắp diễn ra</h1>
                    <p>Hãy tham gia những sự kiện của trung tâm để có thể tìm kiếm được thông tin nhé!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-upcoming-event-carusel">
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="img/e1.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="#">
                            <h4>
                                The Universe Through
                                A Child S Eyes
                            </h4>
                        </a>
                        <p>
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                            telescopes and seeing magnificent displays in the heavens.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="img/e2.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="#">
                            <h4>
                                The Universe Through
                                A Child S Eyes
                            </h4>
                        </a>
                        <p>
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                            telescopes and seeing magnificent displays in the heavens.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="img/e1.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="#">
                            <h4>
                                The Universe Through
                                A Child S Eyes
                            </h4>
                        </a>
                        <p>
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                            telescopes and seeing magnificent displays in the heavens.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="img/e1.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="#">
                            <h4>
                                The Universe Through
                                A Child S Eyes
                            </h4>
                        </a>
                        <p>
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                            telescopes and seeing magnificent displays in the heavens.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="img/e2.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="#">
                            <h4>
                                The Universe Through
                                A Child S Eyes
                            </h4>
                        </a>
                        <p>
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                            telescopes and seeing magnificent displays in the heavens.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="img/e1.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="#">
                            <h4>
                                The Universe Through
                                A Child S Eyes
                            </h4>
                        </a>
                        <p>
                            For most of us, the idea of astronomy is something we directly connect to “stargazing”,
                            telescopes and seeing magnificent displays in the heavens.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End upcoming-event Area -->
<!-- Start review Area -->
<section class="review-area section-gap relative">
    <div class="title text-center">
        <h1 class="mb-10">Cảm nhận của học viên</h1>
    </div>
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Dương Tuấn Minh</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Ngô Minh Hào</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Bùi Đình Lực</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Nguyễn Hoàng Hải</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Cristiano Messi</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Nguyễn Quang Hải</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <img src="img/r1.png" alt="">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Khánh Trình Lê</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
                <div class="single-review item">
                    <div class="title justify-content-start d-flex">
                        <a href="#">
                            <h4>Phùng Thanh Hải</h4>
                        </a>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                    <p>
                        Accessories Here you can find the best computer accessory for your laptop, monitor,
                        printer, scanner, speaker. Here you can find the best computer accessory for your
                        laptop, monitor, printer, scanner, speaker.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End review Area -->
<!-- Start cta-one Area -->
<section class="cta-one-area relative section-gap">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row justify-content-center">
            <div class="wrap">
                <h1 class="text-white">Trở thành học viên tại trung tâm!</h1>
                <p>
                    Hãy tham gia bài kiểm tra đánh giá trình độ đầu vào để có thể nhận được tư vấn chính xác nhất nhé!
                </p>
                <a class="primary-btn wh" target="_blank" href="/test">Bắt đầu bài kiểm tra</a>
            </div>
        </div>
    </div>
</section>
<!-- End cta-one Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Chia sẻ kinh nghiệm</h1>
                    <p>Blog chia sẻ kinh nghiệm</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b1.jpg" alt="">
                </div>
                <p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
                <a href="blog-single.html">
                    <h5>Addiction When Gambling Becomes A Problem</h5>
                </a>
                <p>
                    Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys
                    spend hours in front of their.
                </p>
                <a href="#" class="details-btn d-flex justify-content-center align-items-center">
                    <span class="details">Details</span><span class="lnr lnr-arrow-right"></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b2.jpg" alt="">
                </div>
                <p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
                <a href="blog-single.html">
                    <h5>Computer Hardware Desktops And Notebooks</h5>
                </a>
                <p>
                    Ah, the technical interview. Nothing like it. Not only does it cause anxiety, but it causes
                    anxiety for several different reasons.
                </p>
                <a href="#" class="details-btn d-flex justify-content-center align-items-center">
                    <span class="details">Details</span><span class="lnr lnr-arrow-right"></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b3.jpg" alt="">
                </div>
                <p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
                <a href="blog-single.html">
                    <h5>Make Myspace Your Best Designed Space</h5>
                </a>
                <p>
                    Plantronics with its GN Netcom wireless headset creates the next generation of wireless headset
                    and other products such as wireless.
                </p>
                <a href="#" class="details-btn d-flex justify-content-center align-items-center">
                    <span class="details">Details</span><span class="lnr lnr-arrow-right"></span>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 single-blog">
                <div class="thumb">
                    <img class="img-fluid" src="img/b4.jpg" alt="">
                </div>
                <p class="meta">25 April, 2018 | By <a href="#">Mark Wiens</a></p>
                <a href="blog-single.html">
                    <h5>Video Games Playing With Imagination</h5>
                </a>
                <p>
                    About 64% of all on-line teens say that do things online that they wouldn’t want their parents
                    to know about. 11% of all adult internet
                </p>
                <a href="#" class="details-btn d-flex justify-content-center align-items-center">
                    <span class="details">Details</span><span class="lnr lnr-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End blog Area -->